<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Alunos</title>

</head>

<body>
    <p>Lista de cursos cadastrados </p>
    
    <br><br>
    <p>Tabela com as infos</p>
    <table>
        <thead>
          <tr>
            <th th:text="Nome"></th>
            <th th:text="Descrição"></th>
            <th th:text="Disciplinas"></th>
            <th th:text="Editar"></th>
            <th th:text="Deletar"></th>

          </tr>
        </thead>
        <tbody>
          <tr th:each="curso: ${cursos}">
            <td th:text="${curso.nome}"></td>
            <td th:text="${curso.descricao}"></td>
            <td>
              <span th:each="so, stat : ${curso.disciplinas}">
                  <span th:text="${so}"></span>
                  <span th:unless="${stat.last}">,</span>
              </span>
            </td>
            <td><a th:href="'editarCurso/id=' + ${curso.id}">Editar</a></td>
            <td><a th:href="'deteletarAluno/id=' + ${curso.id}">deletar</a></td>
          </tr>
        </tbody>
      </table>
    <br><br>
    <a href="/aluno/estudantesPorCurso">Estudantes por Curso</a><br>
    <a href="/aluno/estudantesPorLPF">Estudantes por Linguagem</a><br>
    <a href="/aluno/estudantesPorSO">Estudantes por Sistema Operacional</a><br>
    <a href="/aluno/showForm">Formulário de alunos</a><br>
    <a href="/">Tela inicial</a><br>

    
</body>

</html>